# {{ ansible_managed }}
[device-mac-randomization]
# Always use a random MAC when scanning wifi networks.
wifi.scan-rand-mac-address=yes

[connection-mac-randomization]
# Randomize MAC for every ethernet connection.
ethernet.cloned-mac-address=random
# Generate a random MAC for each wifi network and associate the two permanently.
wifi.cloned-mac-address=stable
