---
- name: restart tlp
  service: name=tlp.service state=restarted

- name: restart power monitor
  service:
    name: power_monitor.service
    state: restarted

- name: restart charge control
  service:
    name: chargecontrol.service
    state: restarted
