# {{ ansible_managed }}
[Unit]
Description=Tarsnapper Backup Service Timer

[Timer]
Unit=tarsnapper.service
OnCalendar=hourly
RandomizedDelaySec={{ tarsnapper.random_delay }}
Persistent=True

[Install]
WantedBy=timers.target
