[submodule "roles/backitup/files/backitup"]
	path = roles/backitup/files/backitup
	url = https://github.com/pigmonkey/backitup
[submodule "roles/cryptshot/files/cryptshot"]
	path = roles/cryptshot/files/cryptshot
	url = https://github.com/pigmonkey/cryptshot
