SUBSYSTEM=="power_supply", ATTR{status}=="Discharging", ATTR{capacity}=="[0-5]", RUN+="/usr/local/bin/lowbatt"
SUBSYSTEM=="power_supply", ATTR{status}=="Discharging", ATTR{capacity}=="[6-10]", RUN+="/usr/local/bin/lowbatt"
