{% if fingerprint == True %}
auth		sufficient  	pam_unix.so try_first_pass likeauth nullok
auth		sufficient  	pam_fprintd.so
{% endif %}
auth            include         system-auth
account         include         system-auth
session         include         system-auth
