# {{ ansible_managed }}
[Unit]
Description=Etesync DAV service
After=network.target

[Service]
Type=simple
ExecStart=/usr/bin/etesync-dav
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target
