Section "InputClass"
        Identifier "libinput keyboard catchall"
        MatchIsKeyboard "on"
        MatchDevicePath "/dev/input/event*"
        Driver "libinput"
        Option "XkbLayout" "us"
        Option "XkbVariant" "dvorak"
        {% if interception is not defined %}
        Option "XkbOptions" "ctrl:nocaps"
        {% endif %}
EndSection
