[Unit]
Description=Git Annex Assistant Service

[Service]
Type=simple
ExecStart=/usr/bin/git-annex assistant --foreground --autostart
StandardOutput=syslog
StandardError=syslog

[Install]
WantedBy=multi-user.target
