# {{ ansible_managed }}

# Log-in screen logo
[org/gnome/login-screen]
{% if gdm.logo_path %}
logo='{{ gdm.logo_path }}'
{% endif %}

[org/gnome/desktop/interface]
# Larger font for log-in screen
text-scaling-factor={{ gdm.font_scaling_factor | default(1) }}

# Enable Accessibility menu
toolkit-accessibility={{ gdm.accessibility_menu | ternary('true', 'false') }}

# Turning the sound on/off
[org/gnome/desktop/sound]
event-sounds={{ gdm.sound | ternary('true', 'false') }}

# Enable tap-to-click
[org/gnome/desktop/peripherals/touchpad]
tap-to-click={{ gdm.touchpad.tap_to_click | ternary('true', 'false') }}
