---
- name: Install GNOME
  pacman:
    name:
      - gnome
      - gnome-extra
      - gnome-tweaks
      - xorg-server-xwayland
    state: present

- include_tasks: dconf.yml
- include_tasks: gtk.yml
- include_tasks: gnome_shell.yml
- include_tasks: online_accounts.yml
