---
- name: Install YubiKey Personalization GUI
  pacman:
    name: yubikey-personalization-gui
    state: present

- name: Install YubiKey Manager
  pacman:
    name: yubikey-manager
    state: present

- name: Install smartcard libs/tools
  pacman:
    name:
      - pcsclite
      - libusb-compat
      - ccid
    state: present
