# {{ ansible_managed }}
[Unit]
Description=Tarsnapper Synchronization Timer

[Timer]
OnBootSec={{ tarsnapper.timer.boot_delay }}
OnUnitActiveSec= {{ tarsnapper.timer.frequency }}
Unit=tarsnapper.service

[Install]
WantedBy=timers.target
