---
- name: Install Viking
  pacman: name=viking state=present

- name: Install gpxpy
  aur: name=python-gpxpy user={{ user.name }}
  tags:
    - aur

- name: Install OpenCPN
  aur: name=opencpn-git user={{ user.name }}
  tags:
    - aur

- name: Install mapboxcli into virtualenv
  pip: name=mapboxcli
       virtualenv=/usr/local/env/mapbox

- name: Link mapboxcli to bin
  file: src=/usr/local/env/mapbox/bin/mapbox
        dest=/usr/local/bin/mapbox
        state=link

- name: Push showme script
  copy: src=showme.sh dest=/usr/local/bin/showme mode=0755
