[Unit]
Description=Git Annex Assistant Service

[Service]
Type=simple
ExecStart=/usr/bin/git-annex assistant --foreground --autostart
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target
