---
- name: Install rtl-sdr-git
  aur: name=rtl-sdr-git user={{ user.name }}
  tags:
    - aur

- name: Install gr-osmosdr-git
  aur: name={{ item }} user={{ user.name }}
  with_items:
    - libmirisdr-git
    - libosmosdr-git
    - airspy-git
    - gr-osmosdr-git
  tags:
    - aur

- name: Install gr-ais-git
  aur: name=gr-ais-git user={{ user.name }}
  tags:
    - aur
