# {{ ansible_managed }}
[Unit]
Description=Mailbox synchronization timer

[Timer]
OnBootSec={{ mail.sync_boot_delay }}
OnUnitActiveSec={{ mail.sync_time }}
Unit=mailsync@%i.service

[Install]
WantedBy=timers.target
