[Unit]
Description=Mailbox synchronization service
After=network.target

[Service]
Type=oneshot
ExecStart=/usr/local/bin/mailsync
StandardOutput=journal
StandardError=journal
Environment=DBUS_SESSION_BUS_ADDRESS=unix:path=/run/user/{{ user.uid }}/bus
