# {{ ansible_managed }}
[Unit]
Description=KDE Connect
After=graphical.target

[Service]
Environment=DISPLAY=:0
ExecStart=/usr/bin/kdeconnectd
ExecStop=/usr/bin/kquitapp5 --service org.kde.kdeconnect kdeconnectd
Restart=on-failure
BusName=org.kde.kdeconnect

[Install]
WantedBy=default.target
