[Settings]
{% if gnome.theme.theme_name %}
gtk-icon-theme-name = {{ gnome.theme.theme_name }}
{% endif %}
{% if gnome.theme.icon_theme_name %}
gtk-theme-name = {{ gnome.theme.icon_theme_name }}
{% endif %}
{% if gnome.theme.font_name %}
gtk-font-name = {{ gnome.theme.font_name }}
{% endif %}
gtk-application-prefer-dark-theme = {% if gnome.theme.dark_variant %}true{% else %}false{% endif %}
